<!DOCTYPE html>
<html>
    <head>
        <title>QUnit测试</title>
<!-- 	<link rel="stylesheet" href="/static/runtool/unittest/qunit-1.11.0.css" />
	<script src="/static/runtool/unittest/qunit-1.11.0.js"></script>
 -->
  <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.11.0.css" />
  <script src="http://code.jquery.com/qunit/qunit-1.11.0.js"></script>

        <script src="/static/resource_min/js/myupfile.js"></script>
    </head>
    <body>
        <h1 id="qunit-header">QUnit测试</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture">测试标记</div>
    </body>
</html>



