
    <script src="/static/home/js/common.js"></script> 
    <link rel="stylesheet" href="/static/home/css/common.min.css" >
 
         <!-- aside -->
        <aside id="aside">
            <!-- sidenav -->
            <div id="sidenav">
                <div class="wrap" >
                    <!-- navs -->
                    <nav class="navs" >
                        <ul >
   <li><a href="#"><span><i class="uk-icon-code"></i> 前端开发</span><i class="arrow right-hollow"></i></a></li>
   <li><a href="#"><span><i class="uk-icon-terminal"></i> 后端开发</span><i class="arrow right-hollow"></i></a></li>
   <li><a href="#"><span><i class="uk-icon-list"></i> 基础知识</span><i class="arrow right-hollow"></i></a></li>
   <li><a href="/video/showVideoDB/"><span><i class="uk-icon-film"></i> 视频开发</span><i class="arrow right-hollow"></i></a></li>
   <li><a href="#"><span><i class="uk-icon-pencil-square-o"></i> 博客开发VUE</span><i class="arrow right-hollow"></i></a></li>
   <li><a href="/upfile/downloadresourc/"><span><i class="uk-icon-database"></i> 上传下载资源</span><i class="arrow right-hollow"></i></a></li>
   <li><a href="/questionask/disptechnologyask/"><span><i class="uk-icon-question"></i> 提问解答</span><i class="arrow right-hollow"></i></a></li>

   <li><a href="#"><span><i class="uk-icon-object-ungroup"></i> 前端后端综合实例</span><i class="arrow right-hollow"></i></a></li>

   <li><a href="http://www.getuikit.net/docs/icon.html"><span><i class="uk-icon-wheelchair"></i>uk 图标</span><i class="arrow right-hollow"></i></a></li>

   <li><a href="http://fontawesome.dashgame.com/"><span><i class="uk-icon-wheelchair"></i>font-v4.7.0</span><i class="arrow right-hollow"></i></a></li>

 <li><a href="/test/dispimg/circle/"><span><i class="uk-icon-wheelchair"></i> CSS画椭圆爱心12种图</span><i class="arrow right-hollow"></i></a></li>

 <li><a href="http://www.mycodes.net/152/"> <span><i class="uk-icon-wheelchair"></i>CSS动画特效</span><i class="arrow right-hollow"></i></a></li>


                        </ul>
                    </nav>
                    <!-- navs end -->
                    <!-- subnav -->
                    <div class="subnav">
                        
                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="#">前端基础</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/searchTxtFile/htmlfileall/">HTML</a></span>
                                        
                                        <span><a href="/JavaScript/Object/">JavaScript</a></span>
                                        <span><a href="/vue/listdict/">Vue</a></span>
                                        <span><a href="/jquery/texthtml/">jQuery</a></span>

                                        <span><a href="/account/testvue/">Vue验证数据绑定</a></span>
                                        <span><a href="/account/vuedict/">Vue遍历字典 </a></span>
                                        <span><a href="/account/vuelist/">Vue遍历列表 </a></span>
                                        <span><a href="/account/vuelistdict/">Vue遍历列表字典 </a></span>

                                        <span><a href="/account/v_Expression/">Vue支持JavaScript表达式 </a></span>
                                                                   
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">经典案例</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                       
                                       
                                        <span><a href="/searchTxtFile/jsruntool/">JavaScript</a></span>
                                        <span><a href="/vue/vue_helloworld/">Vue最简框架</a></span>
                                        <span><a href="/vue/myvue/" >MVVM框架</a></span>
                                                                   
                                    </div>
                                </dd>
                            </dl>


                            <dl>
                                <dt><a href="#">CSS</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                                                              
                                        <span><a href="http://www.runoob.com/css/css-examples.html">CSS实例</a></span>

<span><a href="http://www.runoob.com/css/css-image-sprites.html">CSS 图像拼合技术</a></span>

<span><a href="http://www.runoob.com/css/css-table.html">CSS 表格</a></span>

<span><a href="http://www.runoob.com/cssref/css-selectors.html">CSS 选择器</a></span>                                        
                                                                   
                                    </div>
                                </dd>
                            </dl>


                          

                        </div>
                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="#">Python</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="#">Python 基础</a></span>
                                        <span><a href="#">Flask</a></span>

                                    </div>
                                </dd>

                                <dt><a href="#">经典案例</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/searchTxtFile/pythonfileall/">Python </a></span>
                                        <span><a href="#">Flask</a></span>

                                    </div>
                                </dd>



                            </dl>
                          
                              
                        </div>
                        <div class="subnav-item">      
                                <dl>
                                    <dt><a href="http://download.jikexueyuan.com/index/cate/baselang" title="">基础语言</a></dt>
                                    <dd>
                                        <div class="subnav-list"><span><a href="http://download.jikexueyuan.com/index/cate/c" title="">C</a></span><span><a href="http://download.jikexueyuan.com/index/cate/cpp" title="">C++</a></span><span><a href="http://download.jikexueyuan.com/index/cate/oc" title="">Objective-C</a></span><span><a href="http://download.jikexueyuan.com/index/cate/swift" title="">Swift</a></span><span><a href="http://download.jikexueyuan.com/index/cate/csharp" title="">C#</a></span><span><a href="http://download.jikexueyuan.com/index/cate/java" title="">Java</a></span><span><a href="http://download.jikexueyuan.com/index/cate/perl" title="">Perl</a></span><span><a href="http://download.jikexueyuan.com/index/cate/shell" title="">Shell</a></span><span><a href="http://download.jikexueyuan.com/index/cate/qt" title="">Qt</a></span><span><a href="http://download.jikexueyuan.com/index/cate/scala" title="">Scala</a></span>                            
                                        </div>
                                    </dd>
                                </dl>
                          
                                <dl>
                                    <dt><a href="http://download.jikexueyuan.com/index/cate/computer" title="">计算机基础</a></dt>
                                    <dd>
                                        <div class="subnav-list"><span><a href="http://download.jikexueyuan.com/index/cate/theory" title="">计算机组成原理</a></span><span><a href="http://download.jikexueyuan.com/index/cate/network" title="">网络工程</a></span><span><a href="http://download.jikexueyuan.com/index/cate/word" title="">Word</a></span><span><a href="http://download.jikexueyuan.com/index/cate/excel" title="">Excel</a></span><span><a href="http://download.jikexueyuan.com/index/cate/ppt" title="">PowerPoint</a></span>                            
                                        </div>
                                    </dd>
                                </dl>
                          
                                <dl>
                                    <dt><a href="http://download.jikexueyuan.com/index/cate/devbase" title="">开发基础</a></dt>
                                    <dd>
                                        <div class="subnav-list"><span><a href="http://download.jikexueyuan.com/index/cate/count" title="">算法基础</a></span><span><a href="http://download.jikexueyuan.com/index/cate/figure" title="">数据结构</a></span><span><a href="http://download.jikexueyuan.com/index/cate/model" title="">设计模式</a></span><span><a href="http://download.jikexueyuan.com/index/cate/software" title="">软件工程</a></span>                            
                                        </div>
                                    </dd>
                                </dl>
                          
                                <dl>
                                    <dt><a href="http://download.jikexueyuan.com/index/cate/devtools" title="">开发工具</a></dt>
                                    <dd>
                                        <div class="subnav-list"><span><a href="http://download.jikexueyuan.com/index/cate/git" title="">Git/Github</a></span><span><a href="http://download.jikexueyuan.com/index/cate/svn" title="">SVN</a></span><span><a href="http://download.jikexueyuan.com/index/cate/vi" title="">VI</a></span>                            
                                        </div>
                                    </dd>
                                </dl>
                          
                                <dl>
                                    <dt><a href="http://download.jikexueyuan.com/index/cate/devstd" title="">开放标准</a></dt>
                                    <dd>
                                        <div class="subnav-list"><span><a href="http://download.jikexueyuan.com/index/cate/opencl" title="">OpenCL</a></span><span><a href="http://download.jikexueyuan.com/index/cate/xml" title="">Open XML</a></span><span><a href="http://download.jikexueyuan.com/index/cate/gles" title="">OpenGL/GLES</a></span>                            
                                        </div>
                                    </dd>
                                </dl>
                        </div>
                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="#">视频</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/video/showVideoDB/">全部视频（模态框登录）</a></span>


                                        <span><a href="/video/upvideopost/">一键POST上传视频</a></span>

                                        <span><a href="/video/getvideotime/">获得视频时间</a></span>
                                        <span><a href="/video/uptime/">更新视频时间</a></span>
                                        
                                        <span><a href="/admin/account/video/">数据库记录</a></span>
                                        <span><a href="/video/upVideoMethod/">上传视频方法</a></span>                            
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="#" > Blog</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/blog_vue/create/">创建博客</a></span>
                                        <span><a href="/blog_vue/show/"> 显示 </a></span>
                                        
                                                                    
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="subnav-item"> 
                            
                            <dl>
                                <dt><a href="/upfile/downloadresourc/" > 资源</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/resource/uploadfile/">上传资源</a></span>
                                        
                                        <span><a href="/resource/downloadresourc/">全部资源</a></span>
                                                                                                          
                                    </div>
                                    <div class="subnav-list">
                                        <span><a href="/payment/upsoftware/">上传软件</a></span>
                                        
                                        <span><a href="/payment/downloadresourc/">显示软件</a></span>

                                        <span><a href="/payment/classification/">软件分类</a></span>
                                        
                                        <span><a href="/payment/download/">软件下载</a></span>


                                                                                                          
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="/ask/disptechnologyask/" > 提问解答</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/ask/technologyaskDB/">提问</a></span>
                                        <span><a href="/ask/disptechnologyask/">全部问答</a></span>

                                                          
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="#" >前端后端综合 实例</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                     <span><a href="/vue/ukdict/">后端送列表字典 前端uk显示</a></span>
                                                                         
                                        <span><a href="/mytest/Test_sizeConvert/">b转换为B KB MB函数</a></span>

                                        <span><a href="/resource/uploadfile/">上传文件</a></span>

                                        <span><a href="/mytest/downLoadFiles/">下载文件</a></span>

                                        <span><a href="/blog/getAPI/">python后台获得api数据</a></span>

                                        <span><a href="/testpost/">POST</a></span>
                                                                                                        
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <dt><a href="#" >注册登录 实例</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/home/modLoginRunoob/">移植runoob注册登录 连网有图标</a></span>

                                        <span><a href="/home/vueregister/">vue uk 注册</a></span>

                                        <span><a href="/home/vuesignin/">vue uk 登录</a></span>
                                                                                                                                                                                                                                          
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href="#" >django api</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/vue/api_list/">api函数 网页显示列表</a></span>
                                        <span><a href="/vue/api_dict/ ">api函数 网页显示字典</a></span>
                                        <span><a href="/vue/api_listdict/">api函数 网页显示列表字典</a></span>

                                        <span><a href="/vue/get/">get 前端从后端获得数据</a></span>
                                        <span><a href="/vue/post/">post 后端送数据至前端，前端post数据到后端</a></span>

                                        <span><a href="/vue/Vueget/">Vue ajax get</a></span>

                                                                                                                                                                                                                                          
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <dt><a href="#" >django 进阶例程</a></dt>
                                <dd>
                                    <div class="subnav-list">
                                        <span><a href="/djangoi18n/">django 国际化</a></span>
                                       
                                         <span><a href="/sendmail/sendmailmasg/">django 发邮件</a></span>
                                                                                                                                                                                                                                          
                                    </div>
                                </dd>
                            </dl>



                        </div>

                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="#" >图标</a></dt>
                                <dd>
                                    <div class="subnav-list">
<span><a href="http://fontawesome.io/icons/"> fontawesome_SVG图标库 v4.7.0 </a></span>
<span><a href="/tutorials/fontawesome/"> fontawesome_SVG图标库v4.7.0 使用例程</a></span>
                                
<span><a href="/tutorials/showsvgicon/">glyph_SVG矢量图标库</a></span>
<span><a href="http://www.iconfont.cn/collections/index?spm=a313x.7781069.1998910419.3"> 比较全的图库</a></span>

<span><a href="http://www.iconfont.cn/?spm=a313x.7781069.1998910419.d4d0a486a">svg png图标网站</a></span>


                                        <span><a href="https://fontawesome.com/icons?d=gallery">svg图标网站</a></span>

<span><a href="http://www.sfont.cn/tools/icon">Png to Svg 在线转换</a></span>



                                        <span><a href="http://www.runoob.com/wp-content/themes/runoob/assets/img/cd-icon-username.svg">username.svg</a></span>
                                                                                                          
                                        <span><a href="http://www.runoob.com/wp-content/themes/runoob/assets/img/cd-icon-email.svg">email.svg</a></span>

                                        <span><a href="http://www.runoob.com/wp-content/themes/runoob/assets/img/cd-icon-password.svg">password.svg</a></span>
                                                                                                        
                                    </div>
                                </dd>
                            </dl>

                            

                        </div>


                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="http://fontawesome.dashgame.com/" > Font Awesome 图标
                         </a></dt>
                                <dd>
                                    <div class="subnav-list">
<span><a href="https://fontawesome.com/"> Font-Awesome v5.2.0</a></span>

<span><a href="http://blog.csdn.net/crper/article/details/46293295"> Font-Awesome最新版完整使用教程 v4.7.0</a></span>
<span><a href="/test/dispimg/dispimg/"> 完整使用教程上的例程v4.7.0</a></span>
<span><a href="/test/dispimg/dispimg1/"> CSS font-awesome 图标菜单栏v4.7.0</a></span>
                                
                                       
                                    </div>
                                </dd>
                            </dl>                           

                        </div>

                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="https://segmentfault.com/a/1190000002545712" > border-radius参数详解
                         </a></dt>
                                <dd>
                                    <div class="subnav-list">
<span><a href="/test/dispimg/circle1/"> CSS空心圆 </a></span>
<span><a href="/test/dispimg/circle2/"> CSS虚线圆 </a></span>
<span><a href="/test/dispimg/circle3/"> CSS 1/2圆</a></span>
<span><a href="/test/dispimg/circle4/"> CSS 1/4圆</a></span>
<span><a href="/test/dispimg/circle5/"> CSS 圆 栯圆</a></span>
<span><a href="/test/dispimg/circle6/"> 如何用纯css实现一个动态画圆环效果</a></span>

<span><a href="http://blog.csdn.net/chenhongwu666/article/details/38905803"> CSS实现圆角，三角，五角星，五边形，爱心，12角星，8角星，圆，椭圆，圆圈，八卦</a></span>

                                
                                       
                                    </div>
                                </dd>
                            </dl>                           

                        </div>


                        <div class="subnav-item">      
                            <dl>
                                <dt><a href="#" > CSS动画特效
                         </a></dt>
                                <dd>
                                    <div class="subnav-list">
<span><a href="/cssEffect/index3/"> 常用3种纯css3鼠标滑过图片动画效果 |</a></span>
<span><a href="/cssEffect/index5/"> 常用5种纯css3鼠标滑过图片动画效果 |</a></span>
<span><a href="/cssEffect/index9/"> 常用9种纯css3鼠标滑过图片动画效果 |</a></span>
<span><a href="/cssEffect/index99/"> 9种纯css3鼠标滑过图片动画效果 |</a></span>
<span><a href="/cssEffect/index10_1/"> 10种CSS3鼠标经过炫酷动画效果js特效 </a></span>


                                    </div>
                                </dd>
                            </dl>                           

                        </div>



                    </div>
                    <!-- subnav end -->
                </div>
            </div>
            <!-- sidenav end -->
        </aside>
        <!-- aside end -->
        
