{% extends 'home/__base__.html' %}
{% block content %}

 <!-- crumb end -->
    <div style="float:right;">
        <!-- aside -->
        <aside id="aside">
            <div class="aside-list upload-tips" style="width:200px;float:right;">
                <header class="hd"><h2>信息统计</h2></header>
                <div class="bd" >
                    <dl>
                        <dt>资源文件:</dt>
                        <dd>
                            <p> {{num}}个</p>
                        </dd>
                    </dl>
                    
                </div>
            </div>
        </aside>
</div>

<div id="container" style="margin-left:-200px;margin-top:-15px">
    <div class="wrap">        
        <!--左边模块-->
        {% include 'home/nav-menu.html' %}

        <!-- main -->
        <article id="main">
            <!-- sort -->
                <section class="sort">
                    <div class="wrap">
                        <div class="sort-mode">
                            <h1>{{fieldname}}</h1>
                            
                            <dl>
                            <dt>资源类型<i class="arrow bottom-hollow xs"></i></dt>
                            <dd>
                                <p><a href="/resource/search/?type=源码" >源码</a></p>
                                <p><a href="/resource/search/?type=教程" >教程</a></p>
                                <p><a href="/resource/search/?type=文档/电子书" >文档/电子书</a></p>
                                <p><a href="/resource/search/?type=工具/软件" >工具/软件</a></p>
                                <p><a href="/resource/search/?type=其他" >其他</a></p>
                                <p><a href="/resource/search/?type=" >全部</a></p>
                            </dd>
                            </dl>

                            <dl>
                            <dt>排序条件<i class="arrow bottom-hollow xs"></i></dt>
                            <dd>
                                <p><a href="/resource/search/?date=date" title="" rel="nofllow">更新时间</a></p>
                                <p><a href="/resource/search/?browsernum=browsernum" title="" rel="nofllow">查看次数</a></p>
                                <p><a href="/resource/search/?downnum=downnum" title="" rel="nofllow">下载次数</a></p>
                            </dd>
                            </dl>
                        </div>

                        <div class="other">
                            <div class="upload">
                                <a href="/resource/uploadfile/"  target="_blank">
                                    <i class="uk-icon-upload"></i>&nbsp;上传资源
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

            <!-- lists -->
            <section class="lists">
                <!--数据库 对象循环-->
                {% for upresource in upresources %}
                <!-- resource -->
                <div class="resource">
                    <aside class="resource-aside">
                        <div class="picture">
                            <div class="img-wrap">
                            <img src="{{upresource.uploadimg}}" alt="50x50" data-holder-rendered="true" style="width: 50px; height: 50px;" />

                        

                            </div>
                        </div>
                    </aside>
                
                    <div class="resource-content">
                        <dl>
                            <dt><a href="#" title="" target="_blank">
                                {{upresource.title}}  </a></dt>
                            <dd>{{upresource.editor|safe}}<a href="/resource/showcomment/?title={{upresource.title}}" title="" target="_blank">详情&gt;&gt;</a></dd>
                        </dl>
                        <section class="resource-info">
                            <div class="wrap">
                                <ul class="resource-attr">
                                    <li><i class="uk-icon-user"></i> {{upresource.username}}</li>
                                    <li>类型:{{upresource.type}}</li>
                                    <li>标签:{{upresource.label}}</li>
                                    <li><i class="uk-icon-eye"></i> {{upresource.browsernum}}</li>
                                    <li><i class="uk-icon-download"></i>{{upresource.downnum}}</li>
                                    <li><i class="uk-icon-clock-o"></i>{{upresource.date}}</li>
                                                                           
                                </ul>
                                
                            </div>

                            
                            <a href="/resource/downFile/?uploadfile={{upresource.uploadfile}}" class="btn-def btn-download">&nbsp;&nbsp;&nbsp;<i class="uk-icon-download"></i>&nbsp;下载
                            </a>
                        </section>
                    </div>
                </div>
                <!-- resource end -->

            {% endfor %}
                
                
            </section>
            <!-- lists end -->
            
        </article>
        <!-- main end -->


    </div>
</div>

<!--page-->
{% include 'home/page.html'  %}
{% endblock %}
