{% extends 'home/__base__.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/resource/css/common.min.css" >    
    <link rel="stylesheet" href="/static/resource/css/details.css" />       
    <script src="/static/resource/js/common_1.js"></script> 
    <!--common.css文件中有图像文件，css、img在同一目录层 .icon: url(../img/element.png);-->
    <!-- <link rel="stylesheet" href="/static/css/common.css" />  -->
</head>

<!-- container -->
<div id="container">
    <div class="wrap">
         <aside id="aside">
            <a href="/resource/uploadfile/" class="btn btn-def w-full upload-btn ">
            <i class="icon icon-upload-lg"></i>上传资源</a>

            <!--左边模块-->
            {% include 'home/nav-menu.html' %}
            
        </aside> 

        {% if user.is_superuser or 'Operator' in groups  %}


        <!-- main -->
        <article id="main">
            <header class="caption">
                <h1> {{upresources.0.title}} </h1>
               
            </header>
            <!-- attr -->
            <div class="details-attr">
                <h2> username:{{upresources.0.username}} </h2>
                <div class="wrap">
                    <!-- group -->
                    <div class="group">
                        <dl>
                            <dt>{{upresources.0.type}}：</dt>
                            <dd>
                                {{upresources.0.cid1}}
                            </dd>
                        </dl>
                        <dl>
                            <dt>更新：</dt>
                            <dd>{{upresources.0.date}}</dd>
                        </dl>
                                                <dl>
                            <dt>运行环境：</dt>
                            <dd>
                                {{upresources.0.environment}}     
                            </dd>
                        </dl>
                                            </div>
                    <!-- group end -->
                    <!-- group -->
                    <div class="group">
                        <dl>
                            <dt>来源：</dt>
                            <dd>{{upresources.0.source}} </dd>
                        </dl>
                        <dl>
                            <dt>大小：</dt>
                            <dd>{{upresources.0.size}}</dd>
                        </dl>
                        <dl>
                            <dt>下载：</dt>
                            <dd>{{upresources.0.downnum}}次</dd>
                        </dl>
                    </div>
                    
                    <div class="group btns">
                        <a href="/resource/downFile/?uploadfile={{upresources.0.uploadfile}}"  class="btn btn-def xl w-lg">
                        <i class="icon icon-download"></i>下&nbsp;载</a>
                    </div>
                    <!-- group end -->
                    <dl class="details-tag" >
                        <dt>标签：</dt>
                        <dd>
                            <ul class="resource-tag">
                            <li><a href="#" title="" target="_blank">{{upresources.0.label}}</a></li>
                            <li><a href="#" title="" target="_blank"></a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- attr end -->


            <header class="caption">
                <h2>介绍</h2>
            </header>
            <!-- article -->
            <div class="article editor-style">
                <p>
                <p>{{upresources.0.editor|safe}}
                <br></p>  
                </p>
            </div>

            <!-- article end -->
            <header class="caption">
                <h2>效果图</h2>
            </header>
            <!-- article -->
            <div class="article  ">
             <img src="{{upresources.0.uploadimg}}" alt="" />   
                <br><br>  
            </div>
            <!-- article end -->

    
            <!-- recommend -->
            <div class="recommend theme-primary">
                <header><h2>相关推荐</h2></header>
                <div class="bd">
                    <ul>
                        <li><a href="#">HTML5跳动的心-送给妹纸</a>
                        </li>   
                    </ul>
                </div>
            </div>
            <!-- recommend end -->

            <!-- comment -->
            <header class="comment-caption">
                <h2>评论列表</h2>
            </header>

    <ul class="comment-list">


    {% for comment in comments %}

    <li>
        <!-- comment-item -->
        <div class="comment-item">
            <dl>
                <dt>
                <div class="picture">
                    <div class="img-wrap">
                        <img src="/static/resource/img/3ujgihjvpfcwg.jpeg" alt="50x50"  data-holder-rendered="true" style="width: 50px; height: 50px;">
                    </div>
                </div>
                </dt>
                <dd>
                    <h4>1111{{comment.username}} </h4>
                    <h5>{{comment.date}} </h5>
                    <p><p>{{comment.editor|safe}}</p></p>
                </dd>
            </dl>
            <div class="comment-floor">{{forloop.counter}}楼</div>
        </div>
        <!-- comment-item end -->
    </li>
    {% endfor %}
    </ul>
    <!-- comment end -->

 <!-- comment-editor -->
      <form action="/resource/Commentresource/" name="upForm" method="post" class="form form-issue"  autocomplete="off" enctype ="multipart/form-data" required >
        {% csrf_token %}
        <input type="text" name="title" id="title" value="{{upresources.0.title}}" style='display:none'>
        <span >
              <textarea name="editor" id="editor" ng-model="editor" required 
                       style="width:780px;height:100px; " placeholder="在此填写评论..." ></textarea>
              <input type="submit" class="btn btn-def" id="commentBtn" value="提交" style="margin-left              : 680px; margin-top:1px; "/>
        </span>

      </form>
      <!-- comment-editor end -->


        </article>
        <!-- main end -->


        {% else %}
       
          <div  style="color:#3ACC3A;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;抱歉！您尚未登录，~快
            <a href='/login/'> 登录 </a>
                    吧！如果您还没有账号您可以
            <a href='/home/register/'> 注册 </a>
                    一个账号
          </div>       
        {% endif %}

    </div>
</div>
<!-- container end -->
<!--编辑器插件-->
<link rel="stylesheet" href="/static/resource/css/simditor.css"/>
<script src="/static/resource/js/module.js"></script>
<script src="/static/resource/js/hotkeys.js"></script>

<script src="/static/resource/js/simditor.js"></script>
<script src="/static/resource/js/editor1.js"></script><!--可以更改编辑器提示信息-->
<script src="/static/resource/js/ques.common.js"></script>

{% endblock %}