

<!--========================================================================-->

<head>

 <!--  <link rel="stylesheet" href="/static/resource/css/common.min.css" >
  <link rel="stylesheet" href="/static/resource/css/common_1.css" >
  <link rel="stylesheet" href="/static/resource/css/ques.css">

    <script src="/static/home/js/common.js"></script>  -->
    <link rel="stylesheet" href="/static/home/css/common.min.css" >
</head>


<!-- <img src="/static/upload/upimg/WechatIMG16.jpeg"  alt="Leo头像" height=100 width=100 > -->

<!-- container -->
<div id="container" >
    <div class="wrap">
        <!--左边模块-->
       

        <!-- main -->
        <article id="main">
            <!-- sort -->
                <section class="sort">
                    <div class="wrap">
                        <div class="sort-mode">
                            <h1>全部资源</h1>
                            
            <dl>
                <dt>资源类型<i class="arrow bottom-hollow xs"></i></dt>
                <dd>
                <p><a href="#" >源码</a></p>
                <p><a href="#" >教程</a></p>
                <p><a href="#" >文档/电子书</a></p>
                <p><a href="#" >工具/软件</a></p>
                <p><a href="#" >其他</a></p>
                <p><a href="#" >全部</a></p>
                </dd>
            </dl>
            <dl>
                <dt>排序条件<i class="arrow bottom-hollow xs"></i></dt>
                <dd>
                <p><a href="#" title="" rel="nofllow">更新时间</a></p>
                <p><a href="#" title="" rel="nofllow">查看次数</a></p>
                <p><a href="#" title="" rel="nofllow">下载次数</a></p>
                </dd>
            </dl>
                                </div>

                        <div class="other">
                            <div class="upload">
                                <a href="/resource/uploadfile/"  target="_blank">
                                    <i class="icon icon-edit"></i>上传资源
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

            <!-- lists -->
            <section class="lists">
                <!--数据库 对象循环-->
                {% for upresource in upresources %}
                {{upresource.uploadimg}}
                <!-- resource -->
                <div class="resource">
                    <aside class="resource-aside">
                        <div class="picture">
                            <div class="img-wrap">
                            <img src="{{upresource.uploadimg}}" alt="图片" height=100 width=100 />

                            </div>
                        </div>
                    </aside>
                
                    <div class="resource-content">
                        <dl>
                            <dt><a href="#" title="" target="_blank">
                                {{upresource.title}}  </a></dt>
                            <dd>{{upresource.editor|safe}}<a href="/resource/showdetails/?title={{upresource.title}}" title="" target="_blank">详情&gt;&gt;</a></dd>
                        </dl>
                        <section class="resource-info">
                            <div class="wrap">
                                <ul class="resource-attr">
                                    <li><i class="icon icon-user"></i> {{upresource.username}}</li>
                                    <li><i class="icon icon-view"></i> {{upresource.browsernum}}</li>
                                    <li><i class="icon icon-download-sm"></i>{{upresource.downnum}}</li>
                                    <li><i class="icon icon-time"></i>{{upresource.date}}</li>
                                    <li><i class="icon icon-type"></i>{{upresource.type}}</li>
                                        
                                </ul>
                                <ul class="resource-tag">
                                    <li><a href="#" title="" target="_blank">{{upresource.label}}</a></li>
                                    <li><a href="http://download.jikexueyuan.com/search/q/" title="" target="_blank"></a></li>
                                </ul>
                            </div>

                            
                            <a href="/resource/downFile/?uploadfile={{upresource.uploadfile}}"
                                 class="btn-def btn-download" >&nbsp;
                                <i class="icon icon-download"></i>
                                下载
                            </a>
                        </section>
                    </div>
                </div>
                <!-- resource end -->

            {% endfor %}
                
                
            </section>
            <!-- lists end -->
            
        </article>
        <!-- main end -->


    </div>
</div>

<!--page-->
{% include 'runtool/page.html'  %}

