
#page-nav {
	text-align: right;
	margin-top: 45px;
	height: 28px
}
#page-nav a {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 0;
	margin-left: 3px;
	line-height: 30px;
	border: 1px solid #e4e4e4;
	text-align: center;
	font-size: 12px;
	background: #fff;
	color: #333
}
#page-nav a.next, #page-nav a.prev {
	width: 70px
}
#page-nav .total {
	color: #bbb;
	font-size: 12px;
	display: inline-block;
	margin-left: 10px
}
#page-nav a.no, #page-nav a.no:hover {
	cursor: default;
	background: #fff;
	color: #999;
	border: 0;
	line-height: 30px;
	border: 1px solid #e4e4e4
}
#page-nav button {
	width: 40px;
	height: 22px;
	background: #fff;
	border: 1px solid #e4e4e4;
	vertical-align: middle;
	color: #666;
	line-height: 22px;
	text-align: center;
	margin: 0 10px;
	font-size: 12px;
	cursor: pointer;
	outline: 0
}
#page-nav button:hover {
	border-color: #35b558
}
#page-nav .gopage {
	color: #bbb;
	font-size: 12px;
	display: inline-block;
	margin-left: 10px
}
#page-nav a.on {
	background: #35b558;
	color: #fff;
	border: 1px solid #35B558
}
#page-nav a:hover {
	line-height: 30px;
	border: 1px solid #35B558
}
.lesson-flex {
	position: fixed !important;
	left: 50%;
	margin-left: -500px;
	z-index: 300
}
.lesson-list ul {
	width: 790px;
	margin-top: 25px
}
.lesson-list ul li {
	width: 240px;
	height: 220px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px
}
.lesson-list .lessonimg-box {
	width: 240px;
	height: 130px;
	position: relative;
	border: 1px solid #e4e4e4;
	border-bottom: 0
}
.lesson-list .lessonimg-box .lessonimg {
	width: 100%;
	height: 130px
}
.lesson-list .lessonimg-box .free-icon {
	height: 22px;
	width: 38px;
	display: inline-block;
	position: absolute;
	top: -2px;
	right: 8px;
	z-index: 101;
	background: url(http://s1.jikexueyuan.com/common/images/icon_7f8b929.png) -58px -43px no-repeat
}
.right-45 {
	right: 45px !important
}
.lesson-list .lessonimg-box .hot-icon {
	height: 22px;
	width: 38px;
	display: inline-block;
	position: absolute;
	top: -2px;
	right: 13px;
	z-index: 21;
	background: url(http://s1.jikexueyuan.com/common/images/icon_7f8b929.png) -58px -70px no-repeat
}
.lesson-list .lesson-infor {
	padding: 10px;
	position: relative;
	z-index: 200;
	height: 88px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-top: 0
}
.lesson-list .lesson-infor .lesson-info-h2, .lesson-list .lesson-infor h5 {
	font-size: 14px;
	color: #333;
	line-height: 18px;
	margin-bottom: 12px;
	height: 36px;
	overflow: hidden
}
.lesson-list .lesson-infor .lesson-info-h2 a, .lesson-list .lesson-infor .lesson-info-h2 a:hover, .lesson-list .lesson-infor h5 a, .lesson-list .lesson-infor h5 a:hover {
	color: #333
}
.lesson-list .lesson-infor p {
	color: gray;
	font-size: 12px;
	line-height: 18px;
	height: 0;
	overflow: hidden;
	opacity: 0;
	margin-bottom: 10px;
	display: none
}
.lesson-list .lesson-infor .timeandicon {
	font-size: 12px;
	color: gray;
	position: relative
}
.lesson-list .lesson-infor .timeandicon dl {
	width: 120px;
	float: left;
	white-space: nowrap
}
.lesson-list .lesson-infor .timeandicon dl dd {
	font-size: 12px
}
.lesson-list .lesson-infor .timeandicon .time-icon {
	background: url(http://s1.jikexueyuan.com/common/images/clok_a413ecf.png) 0 0 no-repeat;
	width: 14px;
	height: 14px;
	display: block;
	float: left;
	margin-right: 8px;
	background-size: 14px 14px
}
.lesson-list .lesson-infor .timeandicon .learn-number {
	float: right;
	display: none
}
.lesson-list .lesson-infor .zhongji {
	display: none
}
.mar-b8 {
	margin-bottom: 8px
}
.lesson-infor .timeandicon .xinhao-icon {
	background: url(http://s1.jikexueyuan.com/common/images/one-ji_1731712.png) 0 0 no-repeat;
	background-size: 14px 14px;
	width: 14px;
	height: 14px;
	display: block;
	float: left;
	margin-right: 8px
}
.lesson-infor .timeandicon .xinhao-icon2 {
	background: url(http://s1.jikexueyuan.com/common/images/tow-ji_ec2b553.png) 0 0 no-repeat;
	background-size: 14px 14px;
	width: 14px;
	height: 14px;
	display: block;
	float: left;
	margin-right: 8px
}
.lesson-infor .timeandicon .xinhao-icon3 {
	background: url(http://s1.jikexueyuan.com/common/images/three-ji_b588ab1.png) 0 0 no-repeat;
	background-size: 14px 14px;
	width: 14px;
	height: 14px;
	display: block;
	float: left;
	margin-right: 8px
}
.lesson-list .lesson-infor .lessonicon-box {
	position: absolute;
	right: 0;
	text-align: right;
	bottom: 4px
}
.lesson-list .lesson-infor .lessonicon-box a {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 3px
}
.lesson-list .lesson-infor .lessonicon-box a img {
	display: block;
	width: 16px;
	height: 16px
}
.lesson-list .lessonplay {
	background: #000;
	background: rgba(0, 0, 0, .4);
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0
}
.lesson-list .lessonplay .playericon {
	position: absolute;
	z-index: 120;
	width: 50px;
	height: 50px;
	display: block;
	left: 50%;
	margin-left: -25px;
	top: 50%;
	margin-top: -25px;
	background: url(http://s1.jikexueyuan.com/common/images/player_icon_5c67475.png) 0 0 no-repeat;
	cursor: pointer;
	background-size: 50px 50px
}
.crumbs {
	height: 48px;
	line-height: 48px;
	font-size: 12px;
	color: #bbb;
	overflow: hidden
}
.crumbs a, .crumbs span {
