@charset "utf-8";
.form .form-item:after {
  display: table;
  clear: both;
  content: " ";
}
.popup-tips dl:after,
#signin-nav > ul:after,
#sidenav .navs li:after,
.crumb ul:after,
.resource:after,
.resource-content .resource-info:after,
.resource-content .resource-attr:after,
.paging-wrap:after,
.comment-toolbar:after,
.wrap:after,
.recommend .bd ul:after,
.resource-tag:after,
.caption:after,
.details-attr dl:after,
.comment-item:after,
.comment-editor:after,
.share:after {
  display: table;
  clear: both;
  content: " ";
}
.clearfix:after,
.popup-tips dl:after,
#signin-nav > ul:after,
#sidenav .navs li:after,
.crumb ul:after,
.resource:after,
.resource-content .resource-info:after,
.resource-content .resource-attr:after,
.paging-wrap:after,
.comment-toolbar:after,
.wrap:after,
.recommend .bd ul:after,
.resource-tag:after,
.caption:after,
.details-attr dl:after,
.comment-item:after,
.comment-editor:after,
.share:after {
  display: table;
  clear: both;
  content: " ";
}
.caption {
  margin-bottom: 15px;
  padding: 4px 4px 4px 0;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
}
.caption h1,
.caption h2 {
  float: left;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}
.caption h2 {
  font-size: 14px;
}
.caption > .edit-link {
  float: right;
  margin-top: 3px;
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}
.caption > .edit-link .icon {
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.details-attr h2 {
  margin-bottom: 10px;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
}
.details-attr > .wrap .group {
  float: left;
}
.details-attr > .wrap .group:first-of-type {
  width: 310px;
}
.details-attr > .wrap .group:nth-of-type(2) {
  width: 185px;
}
.details-attr dl {
  margin-bottom: 6px;
  color: #999999;
  line-height: 18px;
}
.details-attr dt {
  float: left;
}
.details-attr dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}
.details-attr .resource-tag li {
  margin-bottom: 5px;
}
.details-attr .btns .btn {
  display: block;
  margin-bottom: 10px;
}
.details-tag {
  clear: both;
  width: 495px;
}
.article {
  margin-bottom: 15px;
  color: #333333;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  word-break: break-all;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article p,
.article div,
.article li {
  text-align: left;
}
.article img {
  max-width: 100%;
  vertical-align: bottom;
}
.article pre {
  padding: 10px 5px 10px 10px;
  margin: 15px 0;
  display: block;
  text-align: left;
  line-height: 18px;
  background: #F0F0F0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 13px;
  font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
  overflow-x: auto;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
.comment-caption {
  height: 34px;
  margin-bottom: 15px;
  padding: 0 12px;
  background-color: #f8f8f8;
  border: 1px solid #e4e4e4;
  line-height: 34px;
}
.comment-caption h2 {
  color: #333333;
  font-size: 14px;
  line-height: 34px;
  font-weight: normal;
}
.comment-list {
  margin-bottom: 50px;
}
.comment-list > li {
  padding: 15px 0 10px;
  border-bottom: 1px solid #e4e4e4;
}
.comment-list > li:last-child {
  border-bottom: 0 none;
}
.comment-no-login {
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  padding: 20px;
  line-height: 20px;
}
.comment-no-login a {
  margin: 0 4px;
  color: #35b558;
}
.no-data {
  text-align: center;
  line-height: 50px;
}
.comment-item {
  position: relative;
}
.comment-item > dl {
  width: 710px;
  clear: both;
}
.comment-item > dl dt {
  float: left;
}
.comment-item > dl dd {
  margin-left: 60px;
}
.comment-item > dl dd i,
.comment-item > dl dd em {
  font-style: italic !important;
}
.comment-item > dl dd b {
  font-weight: bold;
}
.comment-item > dl dd u {
  text-decoration: underline;
}
.comment-item > dl dd strike {
  text-decoration: line-through;
}
.comment-item > dl h4 {
  margin-bottom: 4px;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}
.comment-item > dl h5 {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}
.comment-item > dl p {
  line-height: 20px;
  word-break: break-all;
}
.comment-item .comment-floor {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}
.comment-item .comment-toolbar {
  float: right;
  margin-top: 5px;
  padding-right: 10px;
}
.recommend {
  margin-bottom: 20px;
}
.comment-editor {
  margin-bottom: 20px;
}
.comment-editor .simditor {
  clear: both;
  margin-bottom: 10px;
  border-color: #e4e4e4;
}
.comment-editor .simditor.focus {
  border-color: #35b558;
  -webkit-box-shadow: 0 0 5px #51cc73;
  box-shadow: 0 0 5px #51cc73;
}
.comment-editor .btn {
  float: right;
  display: block;
}
.share {
  padding: 5px 0;
}
.share .bdsharebuttonbox {
  float: right;
}
.bd_weixin_popup {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
